src/main/fns2.0_xsds/content.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gmd" version="2012-07-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--================================= Annotation ================================-->
  <xs:annotation>
    <xs:documentation>Geographic MetaData (GMD) extensible markup language is a component of the XML Schema Implementation of Geographic Information Metadata documented in ISO/TS 19139:2007. GMD includes all the definitions of http://www.isotc211.org/2005/gmd namespace. The root document of this namespace is the file gmd.xsd. This content.xsd schema implements the UML conceptual schema defined in ISO 19115:2003, A.2.8. It contains the implementation of the following classes: MD_FeatureCatalogueDescription, MD_CoverageDescription,
MD_ImageDescription, MD_ContentInformation, MD_RangeDimension, MD_Band, MD_CoverageContentTypeCode, MD_ImagingConditionCode.</xs:documentation>
  </xs:annotation>
  <!--================================== Imports ==================================-->
  <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="gco.xsd"/>
  <xs:include schemaLocation="gmd.xsd"/>
  <xs:include schemaLocation="citation.xsd"/>
  <!--###########################################################################-->
  <!--###########################################################################-->
  <!--================================== Classes =================================-->
  <xs:complexType name="MD_FeatureCatalogueDescription_Type">
    <xs:annotation>
      <xs:documentation>Information identifing the feature catalogue</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gmd:AbstractMD_ContentInformation_Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="complianceCode" type="gco:Boolean_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="language" type="gco:CharacterString_PropertyType"/>
          <xs:element name="includedWithDataset" type="gco:Boolean_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="featureTypes" type="gco:GenericName_PropertyType"/>
          <xs:element maxOccurs="unbounded" name="featureCatalogueCitation" type="gmd:CI_Citation_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="MD_FeatureCatalogueDescription" substitutionGroup="gmd:AbstractMD_ContentInformation" type="gmd:MD_FeatureCatalogueDescription_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_FeatureCatalogueDescription_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_FeatureCatalogueDescription"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="MD_CoverageDescription_Type">
    <xs:annotation>
      <xs:documentation>Information about the domain of the raster cell</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gmd:AbstractMD_ContentInformation_Type">
        <xs:sequence>
          <xs:element name="attributeDescription" type="gco:RecordType_PropertyType"/>
          <xs:element name="contentType" type="gmd:MD_CoverageContentTypeCode_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="dimension" type="gmd:MD_RangeDimension_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="MD_CoverageDescription" substitutionGroup="gmd:AbstractMD_ContentInformation" type="gmd:MD_CoverageDescription_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_CoverageDescription_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_CoverageDescription"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="MD_ImageDescription_Type">
    <xs:annotation>
      <xs:documentation>Information about an image's suitability for use</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gmd:MD_CoverageDescription_Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="illuminationElevationAngle" type="gco:Real_PropertyType"/>
          <xs:element minOccurs="0" name="illuminationAzimuthAngle" type="gco:Real_PropertyType"/>
          <xs:element minOccurs="0" name="imagingCondition" type="gmd:MD_ImagingConditionCode_PropertyType"/>
          <xs:element minOccurs="0" name="imageQualityCode" type="gmd:MD_Identifier_PropertyType"/>
          <xs:element minOccurs="0" name="cloudCoverPercentage" type="gco:Real_PropertyType"/>
          <xs:element minOccurs="0" name="processingLevelCode" type="gmd:MD_Identifier_PropertyType"/>
          <xs:element minOccurs="0" name="compressionGenerationQuantity" type="gco:Integer_PropertyType"/>
          <xs:element minOccurs="0" name="triangulationIndicator" type="gco:Boolean_PropertyType"/>
          <xs:element minOccurs="0" name="radiometricCalibrationDataAvailability" type="gco:Boolean_PropertyType"/>
          <xs:element minOccurs="0" name="cameraCalibrationInformationAvailability" type="gco:Boolean_PropertyType"/>
          <xs:element minOccurs="0" name="filmDistortionInformationAvailability" type="gco:Boolean_PropertyType"/>
          <xs:element minOccurs="0" name="lensDistortionInformationAvailability" type="gco:Boolean_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="MD_ImageDescription" substitutionGroup="gmd:MD_CoverageDescription" type="gmd:MD_ImageDescription_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_ImageDescription_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_ImageDescription"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType abstract="true" name="AbstractMD_ContentInformation_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element abstract="true" name="AbstractMD_ContentInformation" type="gmd:AbstractMD_ContentInformation_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_ContentInformation_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:AbstractMD_ContentInformation"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="MD_RangeDimension_Type">
    <xs:annotation>
      <xs:documentation>Set of adjacent wavelengths in the electro-magnetic spectrum with a common characteristic, such as the visible band</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="sequenceIdentifier" type="gco:MemberName_PropertyType"/>
          <xs:element minOccurs="0" name="descriptor" type="gco:CharacterString_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="MD_RangeDimension" type="gmd:MD_RangeDimension_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_RangeDimension_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_RangeDimension"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="MD_Band_Type">
    <xs:complexContent>
      <xs:extension base="gmd:MD_RangeDimension_Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="maxValue" type="gco:Real_PropertyType"/>
          <xs:element minOccurs="0" name="minValue" type="gco:Real_PropertyType"/>
          <xs:element minOccurs="0" name="units" type="gco:UomLength_PropertyType"/>
          <xs:element minOccurs="0" name="peakResponse" type="gco:Real_PropertyType"/>
          <xs:element minOccurs="0" name="bitsPerValue" type="gco:Integer_PropertyType"/>
          <xs:element minOccurs="0" name="toneGradation" type="gco:Integer_PropertyType"/>
          <xs:element minOccurs="0" name="scaleFactor" type="gco:Real_PropertyType"/>
          <xs:element minOccurs="0" name="offset" type="gco:Real_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="MD_Band" substitutionGroup="gmd:MD_RangeDimension" type="gmd:MD_Band_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_Band_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_Band"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <!--........................................................................-->
  <xs:element name="MD_CoverageContentTypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_CoverageContentTypeCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_CoverageContentTypeCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <!--........................................................................-->
  <xs:element name="MD_ImagingConditionCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_ImagingConditionCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_ImagingConditionCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
</xs:schema>