src/main/fns2.0_xsds/dataQuality.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gmd" version="2012-07-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--================================= Annotation ================================-->
  <xs:annotation>
    <xs:documentation>Geographic MetaData (GMD) extensible markup language is a component of the XML Schema Implementation of Geographic Information Metadata documented in ISO/TS 19139:2007. GMD includes all the definitions of http://www.isotc211.org/2005/gmd namespace. The root document of this namespace is the file gmd.xsd. This dataQuality.xsd schema implements the UML conceptual schema defined in A.2.4 of ISO 19115:2003. It contains the implementation of the following classes: LI_ProcessStep, LI_Source, LI_Lineage,
DQ_ConformanceResult, DQ_QuantitativeResult, DQ_Result, DQ_TemporalValidity, DQ_AccuracyOfATimeMeasurement, DQ_QuantitativeAttributeAccuracy, DQ_NonQuantitativeAttributeAccuracy, DQ_ThematicClassificationCorrectness, DQ_RelativeInternalPositionalAccuracy, DQ_GriddedDataPositionalAccuracy, DQ_AbsoluteExternalPositionalAccuracy, DQ_TopologicalConsistency, DQ_FormatConsistency, DQ_DomainConsistency, DQ_ConceptualConsistency, DQ_CompletenessOmission, DQ_CompletenessCommission, DQ_TemporalAccuracy, DQ_ThematicAccuracy, DQ_PositionalAccuracy, DQ_LogicalConsistency, DQ_Completeness, DQ_Element, DQ_DataQuality.</xs:documentation>
  </xs:annotation>
  <!--================================== Imports ==================================-->
  <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="gco.xsd"/>
  <xs:include schemaLocation="gmd.xsd"/>
  <xs:include schemaLocation="identification.xsd"/>
  <!--###########################################################################-->
  <!--###########################################################################-->
  <!--================================== Classes =================================-->
  <xs:complexType name="LI_ProcessStep_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="description" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="rationale" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="dateTime" type="gco:DateTime_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="processor" type="gmd:CI_ResponsibleParty_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="source" type="gmd:LI_Source_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="LI_ProcessStep" type="gmd:LI_ProcessStep_Type"/>
  <!--........................................................................-->
  <xs:complexType name="LI_ProcessStep_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:LI_ProcessStep"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="LI_Source_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="scaleDenominator" type="gmd:MD_RepresentativeFraction_PropertyType"/>
          <xs:element minOccurs="0" name="sourceReferenceSystem" type="gmd:MD_ReferenceSystem_PropertyType"/>
          <xs:element minOccurs="0" name="sourceCitation" type="gmd:CI_Citation_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceExtent" type="gmd:EX_Extent_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="sourceStep" type="gmd:LI_ProcessStep_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="LI_Source" type="gmd:LI_Source_Type"/>
  <!--........................................................................-->
  <xs:complexType name="LI_Source_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:LI_Source"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="LI_Lineage_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="statement" type="gco:CharacterString_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="processStep" type="gmd:LI_ProcessStep_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="source" type="gmd:LI_Source_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="LI_Lineage" type="gmd:LI_Lineage_Type"/>
  <!--........................................................................-->
  <xs:complexType name="LI_Lineage_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:LI_Lineage"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_ConformanceResult_Type">
    <xs:annotation>
      <xs:documentation>quantitative_result from Quality Procedures -  - renamed to remove implied use limitiation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_Result_Type">
        <xs:sequence>
          <xs:element name="specification" type="gmd:CI_Citation_PropertyType"/>
          <xs:element name="explanation" type="gco:CharacterString_PropertyType"/>
          <xs:element name="pass" type="gco:Boolean_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_ConformanceResult" substitutionGroup="gmd:AbstractDQ_Result" type="gmd:DQ_ConformanceResult_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_ConformanceResult_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_ConformanceResult"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_QuantitativeResult_Type">
    <xs:annotation>
      <xs:documentation>Quantitative_conformance_measure from Quality Procedures.  -  - Renamed to remove implied use limitation -  - OCL - -- result is type specified by valueDomain - result.tupleType = valueDomain</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_Result_Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="valueType" type="gco:RecordType_PropertyType"/>
          <xs:element name="valueUnit" type="gco:UnitOfMeasure_PropertyType"/>
          <xs:element minOccurs="0" name="errorStatistic" type="gco:CharacterString_PropertyType"/>
          <xs:element maxOccurs="unbounded" name="value" type="gco:Record_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_QuantitativeResult" substitutionGroup="gmd:AbstractDQ_Result" type="gmd:DQ_QuantitativeResult_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_QuantitativeResult_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_QuantitativeResult"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType abstract="true" name="AbstractDQ_Result_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element abstract="true" name="AbstractDQ_Result" type="gmd:AbstractDQ_Result_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_Result_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:AbstractDQ_Result"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_TemporalValidity_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_TemporalAccuracy_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_TemporalValidity" substitutionGroup="gmd:AbstractDQ_TemporalAccuracy" type="gmd:DQ_TemporalValidity_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_TemporalValidity_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_TemporalValidity"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_TemporalConsistency_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_TemporalAccuracy_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_TemporalConsistency" substitutionGroup="gmd:AbstractDQ_TemporalAccuracy" type="gmd:DQ_TemporalConsistency_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_TemporalConsistency_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_TemporalConsistency"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_AccuracyOfATimeMeasurement_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_TemporalAccuracy_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_AccuracyOfATimeMeasurement" substitutionGroup="gmd:AbstractDQ_TemporalAccuracy" type="gmd:DQ_AccuracyOfATimeMeasurement_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_AccuracyOfATimeMeasurement_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_AccuracyOfATimeMeasurement"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_QuantitativeAttributeAccuracy_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_ThematicAccuracy_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_QuantitativeAttributeAccuracy" substitutionGroup="gmd:AbstractDQ_ThematicAccuracy" type="gmd:DQ_QuantitativeAttributeAccuracy_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_QuantitativeAttributeAccuracy_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_QuantitativeAttributeAccuracy"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_NonQuantitativeAttributeAccuracy_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_ThematicAccuracy_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_NonQuantitativeAttributeAccuracy" substitutionGroup="gmd:AbstractDQ_ThematicAccuracy" type="gmd:DQ_NonQuantitativeAttributeAccuracy_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_NonQuantitativeAttributeAccuracy_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_NonQuantitativeAttributeAccuracy"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_ThematicClassificationCorrectness_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_ThematicAccuracy_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_ThematicClassificationCorrectness" substitutionGroup="gmd:AbstractDQ_ThematicAccuracy" type="gmd:DQ_ThematicClassificationCorrectness_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_ThematicClassificationCorrectness_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_ThematicClassificationCorrectness"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_RelativeInternalPositionalAccuracy_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_PositionalAccuracy_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_RelativeInternalPositionalAccuracy" substitutionGroup="gmd:AbstractDQ_PositionalAccuracy" type="gmd:DQ_RelativeInternalPositionalAccuracy_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_RelativeInternalPositionalAccuracy_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_RelativeInternalPositionalAccuracy"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_GriddedDataPositionalAccuracy_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_PositionalAccuracy_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_GriddedDataPositionalAccuracy" substitutionGroup="gmd:AbstractDQ_PositionalAccuracy" type="gmd:DQ_GriddedDataPositionalAccuracy_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_GriddedDataPositionalAccuracy_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_GriddedDataPositionalAccuracy"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_AbsoluteExternalPositionalAccuracy_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_PositionalAccuracy_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_AbsoluteExternalPositionalAccuracy" substitutionGroup="gmd:AbstractDQ_PositionalAccuracy" type="gmd:DQ_AbsoluteExternalPositionalAccuracy_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_AbsoluteExternalPositionalAccuracy_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_AbsoluteExternalPositionalAccuracy"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_TopologicalConsistency_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_LogicalConsistency_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_TopologicalConsistency" substitutionGroup="gmd:AbstractDQ_LogicalConsistency" type="gmd:DQ_TopologicalConsistency_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_TopologicalConsistency_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_TopologicalConsistency"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_FormatConsistency_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_LogicalConsistency_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_FormatConsistency" substitutionGroup="gmd:AbstractDQ_LogicalConsistency" type="gmd:DQ_FormatConsistency_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_FormatConsistency_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_FormatConsistency"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_DomainConsistency_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_LogicalConsistency_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_DomainConsistency" substitutionGroup="gmd:AbstractDQ_LogicalConsistency" type="gmd:DQ_DomainConsistency_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_DomainConsistency_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_DomainConsistency"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_ConceptualConsistency_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_LogicalConsistency_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_ConceptualConsistency" substitutionGroup="gmd:AbstractDQ_LogicalConsistency" type="gmd:DQ_ConceptualConsistency_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_ConceptualConsistency_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_ConceptualConsistency"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_CompletenessOmission_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_Completeness_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_CompletenessOmission" substitutionGroup="gmd:AbstractDQ_Completeness" type="gmd:DQ_CompletenessOmission_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_CompletenessOmission_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_CompletenessOmission"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_CompletenessCommission_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_Completeness_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_CompletenessCommission" substitutionGroup="gmd:AbstractDQ_Completeness" type="gmd:DQ_CompletenessCommission_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_CompletenessCommission_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_CompletenessCommission"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType abstract="true" name="AbstractDQ_TemporalAccuracy_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_Element_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element abstract="true" name="AbstractDQ_TemporalAccuracy" substitutionGroup="gmd:AbstractDQ_Element" type="gmd:AbstractDQ_TemporalAccuracy_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_TemporalAccuracy_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:AbstractDQ_TemporalAccuracy"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType abstract="true" name="AbstractDQ_ThematicAccuracy_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_Element_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element abstract="true" name="AbstractDQ_ThematicAccuracy" substitutionGroup="gmd:AbstractDQ_Element" type="gmd:AbstractDQ_ThematicAccuracy_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_ThematicAccuracy_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:AbstractDQ_ThematicAccuracy"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType abstract="true" name="AbstractDQ_PositionalAccuracy_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_Element_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element abstract="true" name="AbstractDQ_PositionalAccuracy" substitutionGroup="gmd:AbstractDQ_Element" type="gmd:AbstractDQ_PositionalAccuracy_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_PositionalAccuracy_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:AbstractDQ_PositionalAccuracy"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType abstract="true" name="AbstractDQ_LogicalConsistency_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_Element_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element abstract="true" name="AbstractDQ_LogicalConsistency" substitutionGroup="gmd:AbstractDQ_Element" type="gmd:AbstractDQ_LogicalConsistency_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_LogicalConsistency_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:AbstractDQ_LogicalConsistency"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType abstract="true" name="AbstractDQ_Completeness_Type">
    <xs:complexContent>
      <xs:extension base="gmd:AbstractDQ_Element_Type"/>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element abstract="true" name="AbstractDQ_Completeness" substitutionGroup="gmd:AbstractDQ_Element" type="gmd:AbstractDQ_Completeness_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_Completeness_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:AbstractDQ_Completeness"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType abstract="true" name="AbstractDQ_Element_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="nameOfMeasure" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="measureIdentification" type="gmd:MD_Identifier_PropertyType"/>
          <xs:element minOccurs="0" name="measureDescription" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="evaluationMethodType" type="gmd:DQ_EvaluationMethodTypeCode_PropertyType"/>
          <xs:element minOccurs="0" name="evaluationMethodDescription" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="evaluationProcedure" type="gmd:CI_Citation_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="dateTime" type="gco:DateTime_PropertyType"/>
          <xs:element maxOccurs="2" name="result" type="gmd:DQ_Result_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element abstract="true" name="AbstractDQ_Element" type="gmd:AbstractDQ_Element_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_Element_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:AbstractDQ_Element"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_DataQuality_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="scope" type="gmd:DQ_Scope_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="report" type="gmd:DQ_Element_PropertyType"/>
          <xs:element minOccurs="0" name="lineage" type="gmd:LI_Lineage_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_DataQuality" type="gmd:DQ_DataQuality_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_DataQuality_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_DataQuality"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="DQ_Scope_Type">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="level" type="gmd:MD_ScopeCode_PropertyType"/>
          <xs:element minOccurs="0" name="extent" type="gmd:EX_Extent_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="levelDescription" type="gmd:MD_ScopeDescription_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="DQ_Scope" type="gmd:DQ_Scope_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_Scope_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_Scope"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <!--........................................................................-->
  <xs:element name="DQ_EvaluationMethodTypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <!--........................................................................-->
  <xs:complexType name="DQ_EvaluationMethodTypeCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:DQ_EvaluationMethodTypeCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
</xs:schema>