src/main/fns2.0_xsds/distribution.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gmd" version="2012-07-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--================================= Annotation ================================-->
  <xs:annotation>
    <xs:documentation>Geographic MetaData (GMD) extensible markup language is a component of the XML Schema Implementation of Geographic Information Metadata documented in ISO/TS 19139:2007. GMD includes all the definitions of http://www.isotc211.org/2005/gmd namespace. The root document of this namespace is the file gmd.xsd. This distribution.xsd schema implements the UML conceptual schema defined in A.2.10 of ISO 19115:2003. It contains the implementation of the following classes: MD_Medium, MD_DigitalTransferOptions, MD_StandardOrderProcess, MD_Distributor, MD_Distribution, MD_Format, MD_MediumFormatCode, MD_MediumNameCode.</xs:documentation>
  </xs:annotation>
  <!--================================== Imports ==================================-->
  <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="gco.xsd"/>
  <xs:include schemaLocation="gmd.xsd"/>
  <xs:include schemaLocation="citation.xsd"/>
  <!--###########################################################################-->
  <!--###########################################################################-->
  <!--================================== Classes =================================-->
  <xs:complexType name="MD_Medium_Type">
    <xs:annotation>
      <xs:documentation>Information about the media on which the data can be distributed</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="gmd:MD_MediumNameCode_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="density" type="gco:Real_PropertyType"/>
          <xs:element minOccurs="0" name="densityUnits" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="volumes" type="gco:Integer_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="mediumFormat" type="gmd:MD_MediumFormatCode_PropertyType"/>
          <xs:element minOccurs="0" name="mediumNote" type="gco:CharacterString_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="MD_Medium" type="gmd:MD_Medium_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_Medium_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_Medium"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="MD_DigitalTransferOptions_Type">
    <xs:annotation>
      <xs:documentation>Technical means and media by which a dataset is obtained from the distributor</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="unitsOfDistribution" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="transferSize" type="gco:Real_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="onLine" type="gmd:CI_OnlineResource_PropertyType"/>
          <xs:element minOccurs="0" name="offLine" type="gmd:MD_Medium_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="MD_DigitalTransferOptions" type="gmd:MD_DigitalTransferOptions_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_DigitalTransferOptions_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_DigitalTransferOptions"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="MD_StandardOrderProcess_Type">
    <xs:annotation>
      <xs:documentation>Common ways in which the dataset may be obtained or received, and related instructions and fee information</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="fees" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="plannedAvailableDateTime" type="gco:DateTime_PropertyType"/>
          <xs:element minOccurs="0" name="orderingInstructions" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="turnaround" type="gco:CharacterString_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="MD_StandardOrderProcess" type="gmd:MD_StandardOrderProcess_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_StandardOrderProcess_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_StandardOrderProcess"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="MD_Distributor_Type">
    <xs:annotation>
      <xs:documentation>Information about the distributor</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="distributorContact" type="gmd:CI_ResponsibleParty_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="distributionOrderProcess" type="gmd:MD_StandardOrderProcess_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="distributorFormat" type="gmd:MD_Format_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="distributorTransferOptions" type="gmd:MD_DigitalTransferOptions_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="MD_Distributor" type="gmd:MD_Distributor_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_Distributor_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_Distributor"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="MD_Distribution_Type">
    <xs:annotation>
      <xs:documentation>Information about the distributor of and options for obtaining the dataset</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="distributionFormat" type="gmd:MD_Format_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="distributor" type="gmd:MD_Distributor_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="transferOptions" type="gmd:MD_DigitalTransferOptions_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="MD_Distribution" type="gmd:MD_Distribution_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_Distribution_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_Distribution"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <xs:complexType name="MD_Format_Type">
    <xs:annotation>
      <xs:documentation>Description of the form of the data to be distributed</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="name" type="gco:CharacterString_PropertyType"/>
          <xs:element name="version" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="amendmentNumber" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="specification" type="gco:CharacterString_PropertyType"/>
          <xs:element minOccurs="0" name="fileDecompressionTechnique" type="gco:CharacterString_PropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="formatDistributor" type="gmd:MD_Distributor_PropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--........................................................................-->
  <xs:element name="MD_Format" type="gmd:MD_Format_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_Format_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_Format"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <!--........................................................................-->
  <xs:element name="MD_DistributionUnits" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_DistributionUnits_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_DistributionUnits"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <!--........................................................................-->
  <xs:element name="MD_MediumFormatCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_MediumFormatCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_MediumFormatCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
  <!--........................................................................-->
  <xs:element name="MD_MediumNameCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <!--........................................................................-->
  <xs:complexType name="MD_MediumNameCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_MediumNameCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--===========================================================================-->
</xs:schema>